#contact {
    margin: 2px 2px;

}

#contact h2 {
    text-align: center;
    color: slategray;
    font-weight: bolder;
    font-family: -webkit-pictograph;
    font-style: italic;
    font-variant-caps: all-petite-caps;
}

